.background-image {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
    object-fit: cover;
}

#arrival {
    background-image: url('../img/arrival_desktop.jpg');
}

#drawing {
    background-image: url('../img/drawing_desktop.webp');
}

@media (max-width: 1300px) {
    #arrival {
        background-image: url('../img/arrival_tablet.webp');
    }
    #drawing {
        background-image: url('../img/drawing_tablet.webp');
    }
}

@media (max-width: 768px) {
    #arrival {
        background-image: url('../img/arrival_mobile.webp');
    }
    #drawing {
        background-image: url('../img/drawing_mobile.webp');
    }
}