#typewriter-arrival {
    display: flex;
    flex-direction: column;
    width: 750px;
    color: var(--text);
    border-radius: 20px;
    font-family: "Dancing Script", sans-serif;
    font-size: 40px;
}