.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}

h1 {
    font-size: 2rem;
}

.cursor {
    position: relative;
}

.orange-text {
    color: #ff6f00dc;
}

.blue-text {
    color: #3c97ff;
}

.yellow-text {
    -webkit-text-stroke: .1px var(--textStroke);
    color: #faf030df;
}

.cursor::after {
    content: '';
    width: 1px;
    border-right: 3px solid var(--button-textcolor);
    height: 100%;
    margin-left: 0.5rem;
    animation: blink 1s steps(2) infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
}