body {
  margin: 0;
}

.videoTile {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 10px 5px;
  width: 340px;
}

.videoWrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vidDesc {
  padding: 10px;
  border-radius: 0 0 7px 7px;
  text-align: center;
}

.video {
  border-radius: 7px 7px 0 0;
  overflow-x: hidden;
}
