body {
  margin: 0;
}

.videoTile {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 10px 5px;
  width: 340px;
  overflow: hidden;
}

.videoWrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vidDesc {
  padding: 10px;
  border-radius: 0 0 8px 8px;
  text-align: center;
}

.video {
  border-radius: 8px 8px 0 0;
  width: 100%;
  overflow: hidden;
}
