$font-color: #b3edff;
$background-color: black;
$button-color: transparent;
$button-border-color: fff;
$bordercolor: #b3edff;
$container-bgcolor: #f2f2f2;
$button-textcolor: #b3edff;
$shadowcolor: #fff;
$text-shadow-color: #b3edffc5;
$fadecolor: rgba(255, 255, 255, 0.6);