* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

body {
  width: 100%;
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--background-color);
}

main {
  width: 100%;
  max-width: 700px;
  max-height: 1050px;
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid var(--bordercolor);
  border-radius: 40px;
}

.preface {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--font-color);
}

.toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.main2 {
  width: min-content;
  max-width: none;
  max-height: none;
  border: none;
}
