.face {
  @include flexCenter;
  position: relative 900px;
  margin-top: 100px;
}

#robotFace {
  height: 500px;
}

@media (max-width: 480px) {
  #robotFace {
    width: 325px;
    height: 405px;
  }
}
