#typewriter-arrival {
    position: fixed;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    text-align: center;
}

.button-container {
    display: flex;
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

